* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #23322a;
  background-size: cover;
}

.menu {
  display: grid;
  height: 95%;
  width: 25%;
  background: linear-gradient(120deg, #7bdea5 25%, #3a906e 75%);
  box-shadow: 0 0 2vh black;
  padding: 12vh 8vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4vh 8vh 4vh 8vh 4vh 8vh 4vh 8vh 4vh 28vh;
  font-size: 3vh;
}

#obstaculos_title {
  grid-row: 3;
  grid-column: 1 / 3;
}

#obstaculos_input {
  grid-row: 4;
  grid-column: 1 / 3;
}

#direcciones_title {
  grid-row: 5;
  grid-column: 1 / 3;
}

#direcciones_input {
  grid-row: 6;
  grid-column: 1 / 3;
}

#vehiculo_title {
  grid-row: 7;
  grid-column: 1 / 3;
}

#x_vehiculo {
  grid-row: 8;
  grid-column: 1 / 2;
  width: 90%;
}

#y_vehiculo {
  grid-row: 8;
  grid-column: 2 / 3;
  width: 90%;
  justify-self: end;
}

#pos_final_title {
  grid-row: 9;
  grid-column: 1 / 3;
}

#x_final {
  grid-row: 10;
  grid-column: 1 / 2;
  width: 90%;
}

#y_final {
  grid-row: 10;
  grid-column: 2 / 3;
  width: 90%;
  justify-self: end;
}

#simular {
  position: absolute;
  bottom: 6vh;
  left: 19vh;
  width: 25vh;
  height: 5vh;
  font-size: 4vh;
  font-weight: 550;
}

#simular:hover {
  color: red;
}

input {
  outline: none;
  height: 3vh;
  border-radius: 5vh;
  border-width: 0;
  box-shadow: 0 0 .3vh black;
  text-align: center;
  font-size: 2vh;
  font-weight: 550;
  transition: .5s;
}

input:hover{
  transform: scale(105%);
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5%;
  background-color: #2adb8e;
  box-shadow: 0 0 .5vh black;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  font-size: 4vh;
  font-weight: 550;
}

.table {
  position: absolute;
  background-color: white;
  width: 45%;
  height: 90%;
  top: 7.5%;
  right: 10%;
  box-shadow: 0 0 5vh black;
  display: table;
}

.table #row {
  display: table-row;
}

.table #col {
  border: .1vh solid grey;
  display: table-cell;
}